/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
aswaat.zip
frontend.zip
frontend (1).zip
resources.zip
Aswwat.zip
.htaccess
yarn-error.log
