@media (max-width: 480px) {
    .profile-nav .nav-pills .nav-link {
        font-size: 12px;
        padding: 1px;
    }
    .music-items .items-right {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .music-items {
        flex-direction: column;
        justify-content: none;
        align-items: end;
        padding: 12px;
    }
    .downloads,
    .favourite {
        flex-direction: column;
        justify-content: none;
        align-items: end;
        padding: 5px 0px 5px 0px;
    }
    .music-items p,
    span {
        font-size: 12px!important;
    }
    .edit-profile li {
        display: flex;
    }
    .music-filter form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .music-filter form select {
        margin-bottom: 10px;
    }
    .text-album {
        margin-left: 0;
    }
    .home-section {
        background: round;
        height: 30vh;
    }
    .custom-btn {
        padding: 5px 10px;
        font-size: 12px;
        ;
    }
    .sound-section {
        background: round;
        height: 30vh;
    }
}

@media (max-width: 768px) and (min-width: 480px) {
    .home-section {
        background: round;
        height: 50vh;
    }
    .custom-btn {
        padding: 10px 30px;
        font-size: 16px;
        ;
    }
    .sound-section {
        background: round;
        height: 50vh;
    }
}

@media (max-width: 767px) {
    .music-items .items-left .fa-play,
    .fa-pause {
        width: 20px;
    }
    .box-sound {
        width: 100%!important;
        height: 35vh;
        margin-left: 0!important;
    }
    .profile-cart {
        padding: 2rem 0;
    }
    .profile-cart h2,
    .profile-cart a {
        font-size: 1rem;
        margin-bottom: 0;
    }
    .profile-nav {
        flex-direction: column;
    }
    .profile-nav .nav {
        width: 100%;
        border: none;
        flex-direction: row;
        flex-wrap: nowrap !important;
        justify-content: space-between;
    }
    .profile-nav .tab-content {
        padding: 1rem 0;
        width: 100%;
    }
    .profile-nav .nav-pills .nav-link {
        border: none;
    }
    .edit-profile {
        padding: 0;
    }
    .sign-up .form-group {
        display: flex;
        flex-direction: column;
    }
    .sign-up .form-group label {
        text-align: start;
        width: auto;
    }
    .sign-up .form-group input {
        width: auto;
    }
    .cart-tables table td {
        display: block;
    }
    .cartimg {
        padding: 20px !important;
    }
    .playin-music .current span,
    .music-action .current {
        display: none;
    }
    .platforms {
        column-count: 2;
    }
    .subtitle {
        font-size: 1rem;
    }
    .footer-menu ul {
        flex-direction: column;
    }
    .footer-social ul li {
        margin: 0 10px;
    }
}

@media (max-width: 768px) {
    .profil {
        height: auto;
    }
    .music-items.current img {
        width: 50px;
    }
    .music-list p,
    .music-action button,
    .music-items .fa-play {
        font-size: 12px;
    }
    .sign-up form {
        width: 85% !important;
        margin: 0 auto;
    }
    .sign-up .form-group label {
        width: 150px !important;
    }
    .logo {
        width: 80px;
    }
    .music-items .demo {
        display: none;
    }
}

@media(max-width:991px) {
    .custom-nav .container-fluid {
        padding: 1rem 2rem;
    }
    .custom-nav .navbar-collapse {
        position: absolute;
        width: 100%;
        left: 00;
        top: 65px;
        background-color: var(--bg);
    }
    .navbar-toggler:focus {
        border: none;
        box-shadow: none !important;
    }
    .custom-nav .navbar-nav {
        padding: 0 20px !important;
    }
    .end-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 1rem;
    }
    .end-box .custom-btn {
        display: none;
    }
    .end-box a {
        margin-left: 0;
    }
    .main-section {
        height: 100%;
        padding: 2rem 0;
        min-height: calc(100vh - 114px);
    }
    .pkg-box {
        margin-bottom: 2rem;
    }
    .cart-tables .table-responsive:first-child {
        margin-bottom: 2rem;
    }
    .sidenav,
    /* .music-filter, */
    #waveform,
    .time,
    .category {
        display: none;
    }
    .playin-music {
        height: 150px;
    }
    .searchnav {
        height: calc(100% - 114px);
    }
    .searchnav .menu-list {
        padding-left: 20px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .sound-section {
        background: round;
        height: 85vh;
    }
    .home-section {
        background: round;
        height: 85vh;
    }
    .custom-btn {
        padding: 10px 30px;
        font-size: 16px;
        ;
    }
    .profile-nav .nav {
        flex-basis: 30%;
    }
    .sign-up form {
        width: 80%;
        margin: 0 auto;
    }
    .sign-up .form-group input {
        width: 70%;
    }
    .sign-up .form-group label {
        width: 25%;
    }
    .platforms {
        column-count: 3;
    }
}

@media (max-width: 1023px) and (min-width: 992px) {
    .sound-section {
        background: round;
        height: 85vh;
    }
    .home-section {
        background: round;
        height: 85vh;
    }
    .custom-btn {
        padding: 10px 30px;
        font-size: 16px;
        ;
    }
    .sign-up form {
        width: 80%;
        margin: 0 auto;
    }
    .sign-up .form-group input {
        width: 70%;
    }
    .sign-up .form-group label {
        width: 25%;
    }
}

@media (max-width: 1280px) and (min-width: 1024px) {
    .sound-section {
        background: round;
        height: 100vh;
    }
    .home-section {
        background: round;
        height: 100vh;
    }
    .custom-btn {
        padding: 10px 30px;
        font-size: 16px;
        ;
    }
    .profil {
        height: auto;
    }
    .sign-up form {
        width: 80%;
        margin: 0 auto;
    }
    .sign-up .form-group input {
        width: 70%;
    }
    .sign-up .form-group label {
        width: 25%;
    }
    .playin-music {
        height: 150px;
    }
}

@media (max-width: 1440px) and (min-width: 1280px) {
    .sound-section {
        background: round;
        height: 115vh;
    }
    .sign-up form {
        width: 80%;
        margin: 0 auto;
    }
    .sign-up .form-group input {
        width: 70%;
    }
    .sign-up .form-group label {
        width: 25%;
    }
}

@media(min-width: 1440px) {}

@media (max-width: 425px) {
    .platforms {
        column-count: 2;
    }
    .platforms li {
        /* width: 0px; */
        font-size: 13px;
    }
}

@media (max-width: 345px) {
    .platforms {
        padding: 1px!important;
        column-count: 2;
    }
    .platforms li {
        /* width: 0px; */
        font-size: 12px;
    }
}